@font-face {
    font-family: 'Montserrat';
    src: url(static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(static/Montserrat-Bold.ttf);
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.montserrat-Bold {
    font-family: 'Montserrat-Bold', sans-serif;
}

.nav-button {
    font-family: 'Montserrat-Bold', sans-serif;
}
.nav-button:hover {
    font-family: 'Montserrat-Bold', sans-serif;
    color: gray;
    cursor: pointer;
}
.cart-button:hover {
    cursor: pointer;
}

